<div class="footer-scene">
        <div class="footer-image">
                <div class="over trees1">
                        <img style="bottom: 96px; left: 256px;" src="{T_THEME_PATH}/images/brick.gif">
                        <img style="bottom: 96px; left: 288px;" src="{T_THEME_PATH}/images/brick.gif">
                        <img style="bottom: 96px; left: 320px;" src="{T_THEME_PATH}/images/brick.gif">

                        <img style="bottom: 0px; left: 250px;" src="{T_THEME_PATH}/images/goomba.png">
                        <img style="bottom: 0px; left: 48%;" src="{T_THEME_PATH}/images/goomba.png">

                        <img style="bottom: 187px; right: 288px;" src="{T_THEME_PATH}/images/leaf.png">
                        <img style="bottom: 100px; right: 250px;" src="{T_THEME_PATH}/images/mario-jumping.png">
                        <img style="bottom: 0px; right: 230px;" src="{T_THEME_PATH}/images/luigi-duck.png">

                        <img style="bottom: 0px; right: 320px;" src="{T_THEME_PATH}/images/peach_racoon.png">
                        <img style="bottom: 131px; right: 90px;" src="{T_THEME_PATH}/images/toad-hammer.png">
                        <img style="bottom: 125px; right: 138px;" src="{T_THEME_PATH}/images/boomerang.png">
                        <img style="bottom: 0px; right: 102px;" src="{T_THEME_PATH}/images/link-blue.png">

                        <img style="bottom: 96px; left: 352px;" src="{T_THEME_PATH}/images/coin.gif">
                        <img style="bottom: 96px; left: 384px;" src="{T_THEME_PATH}/images/coin.gif">
                        <img style="bottom: 96px; left: 416px;" src="{T_THEME_PATH}/images/coin.gif">
                        <img style="bottom: 96px; left: 448px;" src="{T_THEME_PATH}/images/coin.gif">

                        <img style="bottom: 96px; right: 96px;" src="{T_THEME_PATH}/images/brick.gif">
                        <img style="bottom: 96px; right: 64px;" src="{T_THEME_PATH}/images/block-question.gif">
                        <img style="bottom: 96px; right: 32px;" src="{T_THEME_PATH}/images/block-question.gif">
                </div>
                <div class="ground"></div>
        </div>
</div>
