<div class="footer-scene">
        <div class="footer-image">
                <div class="over trees1">
                        <img style="bottom: 0px; left: 34%;" src="{T_THEME_PATH}/images/bot.png">
                        <img style="bottom: 0px; left: 40%;" src="{T_THEME_PATH}/images/bit.png">
                        <img style="bottom: 0px;" src="{T_THEME_PATH}/images/link.png">
                        <img style="bottom: 0px; right: 45%;" src="{T_THEME_PATH}/images/bot.png">
                        <img style="bottom: 0px; right: 38%;" src="{T_THEME_PATH}/images/tinsuit.png">
                        <img style="bottom: 0px; right: 33%;" src="{T_THEME_PATH}/images/bit.png">
                        <img style="bottom: 0px; right: 25%;" src="{T_THEME_PATH}/images/bot.png">
                </div>
                <div class="ground"></div>
        </div>
</div>
