<div class="footer-scene">
        <div class="footer-image">
                <div class="over bushesback">
                        <img style="bottom: 96px; left: 32px;" src="{T_THEME_PATH}/images/brick.gif">
                        <img style="bottom: 96px; left: 64px;" src="{T_THEME_PATH}/images/block-question.gif">
                        <img style="bottom: 96px; left: 96px;" src="{T_THEME_PATH}/images/brick.gif">
                        <img style="bottom: 96px; left: 128px;" src="{T_THEME_PATH}/images/block-question.gif">
                        <img style="bottom: 96px; left: 160px;" src="{T_THEME_PATH}/images/brick.gif">
                        <img style="bottom: 128px; left: 64px;" src="{T_THEME_PATH}/images/coin.gif">
                        <img style="bottom: 128px; left: 96px;" src="{T_THEME_PATH}/images/coin.gif">
                        <img style="bottom: 128px; left: 128px;" src="{T_THEME_PATH}/images/coin.gif">

                        <img style="bottom: 0px;" src="{T_THEME_PATH}/images/mario.png">
                </div>
                <div class="ground"></div>
        </div>
</div>
