<div class="footer-scene">
        <div class="footer-image">
                <div class="over trees1">
                        <img style="bottom: 96px; left: 256px;" src="{T_THEME_PATH}/images/brick.gif">
                        <img style="bottom: 96px; left: 288px;" src="{T_THEME_PATH}/images/brick.gif">
                        <img style="bottom: 96px; left: 320px;" src="{T_THEME_PATH}/images/block-question.gif">
                        <img style="bottom: 96px; left: 352px;" src="{T_THEME_PATH}/images/brick.gif">
                        <img style="bottom: 96px; left: 384px;" src="{T_THEME_PATH}/images/brick.gif">
                        <img style="bottom: 0px;" src="{T_THEME_PATH}/images/mario_and_peach.png">
                        <img style="bottom: 96px; right: 64px;" src="{T_THEME_PATH}/images/block-question.gif">
                        <img style="bottom: 96px; right: 96px;" src="{T_THEME_PATH}/images/block-question.gif">
                        <img style="bottom: 96px; right: 128px;" src="{T_THEME_PATH}/images/block-question.gif">
                </div>
                <div class="ground"></div>
        </div>
</div>
