<div class="footer-scene">
        <div class="footer-image">
                <div class="over trees1">
                        <img style="bottom: 64px; left: 104px;" src="{T_THEME_PATH}/images/coin.gif">
                        <img style="bottom: 64px; left: 138px;" src="{T_THEME_PATH}/images/coin.gif">
                        <img style="bottom: 64px; left: 170px;" src="{T_THEME_PATH}/images/coin.gif">
                        <img style="bottom: 64px; left: 202px;" src="{T_THEME_PATH}/images/coin.gif">

                        <img style="bottom: 128px; right: 104px;" src="{T_THEME_PATH}/images/brick.gif">
                        <img style="bottom: 128px; right: 72px;" src="{T_THEME_PATH}/images/block-question.gif">
                        <img style="bottom: 128px; right: 40px;" src="{T_THEME_PATH}/images/block-question.gif">

                        <img style="bottom: 0px; left: 30%;" src="{T_THEME_PATH}/images/goomba.png">
                        <img style="bottom: 0px; left: 35%;" src="{T_THEME_PATH}/images/goomba.png">
                        <img style="bottom: 0px; left: 40%;" src="{T_THEME_PATH}/images/green-koopa.png">
                        <img style="bottom: 0px; right: 50%;" src="{T_THEME_PATH}/images/goomba.png">
                        <img style="bottom: 0px; right: 45%;" src="{T_THEME_PATH}/images/goomba.png">
                        <img style="bottom: 0px; right: 40%;" src="{T_THEME_PATH}/images/goomba.png">
                </div>
                <div class="ground"></div>
        </div>
</div>
