<!-- INCLUDE simple_header.html -->

<h2>{L_WHOIS}</h2>

<div class="panel">
	<div class="inner">
        <table id="Sizable" cellPadding="0" cellSpacing="0" width="100%">
        <tr class="green-top"><td class="green-top-left"></td><td class="green-top-center"></td><td class="green-top-right"></td>
        </tr><tr class="green-mid"><td class="green-mid-left"></td><td class="green-mid-center">
		<pre style="white-space:pre-wrap; font-family: monospace;">{WHOIS}</pre>
        </td><td class="green-mid-right"></td></tr><tr class="green-bot"><td class="green-bot-left"></td><td class="green-bot-center"></td>
        <td class="green-bot-right"></td></tr>
        </table>
	</div>
</div>
<a href="#" onclick="window.close(); return false;">{L_CLOSE_WINDOW}</a>

<!-- INCLUDE simple_footer.html -->
